
<style>
.author-image {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
}
.author-table {
        border-collapse: collapse;
        width: 100%;
    }

    .author-table, .author-table th, .author-table td {
        border: 1px solid #000;
        text-align: center;
    }

    .author-table th, .author-table td {
        padding: 10px;
    }
</style>

{% include 'reusable/headertab.html.twig' %}

<br>
<br>
<br>

{% if books is not defined or books is empty %}
    le tableau n'est pas défini/est vide
{% else %}
    <table class="author-table">
            <tr>
            <td>Title</td>
            <td>Genre</td>
            <td>Author</td>
            <td>Is published</td>
            <td>Action</td>

            </tr>
        {% for unit in books %}
            <tr>
                <td>{{ unit.title|upper }}</td>
                <td>{{ unit.genre|upper }}</td>
                <td><a href="{{ path('author-details',{'name':unit.author.name}) }}">{{ unit.author.name|upper }}</a></td>
                <td>{% if unit.published == 1 %}
                le livre est publié
                {% else %}
                le livre n'est pas publié
                {% endif %}
                </td>
                <td><a href="{{ path('edit-book',{'id':unit.ref}) }}"><strong>Edit</strong></a>&nbsp;&nbsp;<a href="{{ path('delete-book', {'id':unit.ref}) }}"><strong>Delete</strong></a></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}




